RewriteEngine On


# Acceder sin utilizar necesariamente la extension de archivo ".php"
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]


# Si la ruta no existe devolver al index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+?)/?$ ../404.php?url=$1 [L,QSA]